TestName: VariantCalling_NA12878_NA12891_NA12892
Samples: NA12878 NA12891 NA12892

NA12878_Sequence:

AAAAAAAAAAACGCACCCCCCATAAAAAAAATTTTTTTTTTT
       ..............C.............       
  ,,,,,,,,,,,,,,,,,,,c,,,,,,,,,           
    ,,,,,,,,,,*,,,,,,,,,,,,,,,,,,,,,,     
..............*.............              


NA12878_ExpectedVariants:
20    13    CA    C    0/1
20    21    A    C    0/1


NA12891_Sequence:

AAAAAAAAAAACGCACCCCCCATAAAAAAAATTTTTTTTTTT
       ..............C.............       
  ,,,,,,,,,,,,,,,,,,,c,,,,,,,,,           
    ,,,,,,,,,,*,,,,,,,,,,,,,,,,,,,,,,     
..............*.............              


NA12891_ExpectedVariants:
20    13    CA    C    0/1
20    21    A    C    0/1


NA12892_Sequence:

AAAAAAAAAAACGCACCCCCCATAAAAAAAATTTTTTTTTTT
       ..............C.............       
  ,,,,,,,,,,,,,,,,,,,c,,,,,,,,,           
    ,,,,,,,,,,*,,,,,,,,,,,,,,,,,,,,,,     
..............*.............              


NA12892_ExpectedVariants:
20    13    CA    C    0/1
20    21    A    C    0/1



#TestName: VariantCalling_GIAB_False_Negativ_Indel_1
#Samples: NA12878
#
#NA12878_Sequence:
#
#AGACCCTATGGAAATAAAAATGATAATAAGGGAATACGATAACC****TTTTTTTTTT*TTTTTGAGACAGAGTCTTCCTCTATTGCCCAGG
#............................................    .......... .................................
#,,     .....................................TTT*..........*.................................
#,,,,,,,,,,,  ...............................*******.......*................................A
#,,         .................................****..........*.................................
#,,,,,,,,,,,,,,,,,         ..................TTT*..........*.....T...........................
#,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,       ......****..........*.....   .........................
#....................A......................     ,,,,,,a,,,*,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
#............................................****........ .*.................................
#,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,****,,,,,,,,,    ,,,,,,,,,,,,,,,,,a,,,,,,,,,,,,,
#,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,****,,,,,,,,,,*,  ..............................
#............................................****..........*....  ...........................
#,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,****,,,,,,,,,,*,,,         ,,,,,,,,,,,,,,,,,,,,,
#,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,****,,,,,,,,,     ..............................
#............................................****..........*.....                  ,,,,,,g,,,
#,,c,,,,,,,a,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,****,,,,,,,,,,*,,,,,                  ,,,,,,,,,,
#,a,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,****,,,,,,,,,,*,,,,,                  ,,,,,,,,,,
#,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,****,,,,,,,,,,*,,,,,                      ,,,,,,
#,a,,,aa,,a,,,,,,,,,,a,,,,,,,,,,,,,,,,a,,,,,,t***,,,,,,,,,,*,,,,,,,,,,,,,,,              ....
#............................................T***..........*.................................
#............................................****..........*...                              
#............................................****..........*.....                            
#......C.....................T...........        ,,,,,,,,,,*,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
#..........................................A.****..........A.........                        
#....A.......................C...............****..........*...                              
#............................................****..........*.....                            
#............................................T***..........*.................................
#............................................T***..........*.................................
#............................................TTTT..........*.........A.....T...T.T.T.........
#,a,,,,,,,aa,,,,,,,,,,a,,,,,,,,,,,,,,,,,,,,,,****,,,,,,,,,,*,,,,,,,,,,,,,,,                  
#           ,,,,,,,,,,a,,,,,,,,,,,,,,,,,,,c,,ttt*,,,,,,,,,,*,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
#           ,,,,,,,,,,,,a,,a,,,,,,,a,,,,,,,,,tt**,,,,,,,,,,*,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
#                          ..................TTT*..........*.....T..............C.....T...C..
#
#
#NA12878_ExpectedVariants:
#20    43    C    CT    0/1
#20    43    C    CTTT    0/1
